<article>
<h1>Welcome to Pickling! The best way to preserve your Gherkins and Cucumbers.</h1>
<h2>History</h2>
<p>I had been writing tests using BDD and the Gherkin language for a while but one day I wrote a test that I thought 
  really demonstrated the power of the langauge.  This test truely represented the executable specification that a business
  owner could own and one day decide, now it should do this, edit the test and watch it fail. I as a developer would make
  the test pass. So I showed it to my product owner and he said, great, so how do I edit it? Hmm.... Well, first
  you have to install git, and then you want to create a feature branch, pick your favorite editor, MS word, wait! no, a different 
  one, and finally stage your changes, commit them and push them to the git server. Oh no! Who was I kidding? 
  It was then that I realized that the executable specification would only ever work if the business owners
  could access and edit our specifications. And Pickling was born.
</p>

<h2>What does Pickling do?</h2>
<p>Pickling allows anyone with a web browser (and a password of course) to view and edit spec files.  Using the power 
  of git the changes can be saved to a branch so that a business owner can write or edit a spec and save the 
  changes to a branch all before the story every reaches a developers hands.</p>
  
<h2>Development of this site</h2>
<p>This site was created by Steve Mayszak while working at Getty Images. It seemed like others were searching for a product like this so
  it was added to github as an open source project. 
  Contributions are welcomed and appreciated!  You can find Steve on <a href='http://www.linkedin.com/pub/steve-mayszak/2/349/aba'>linked in</a></p>
</article>

