// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_content p{
  padding-left:1em;
}

.admin_content section{
  margin: 1em;
}
.admin_content article{
  margin: 3em;

}
