footer{
  height:30px;
  position: relative;
  margin: -70px auto 0 auto;
  background-color: #333333;
  color:  #DDDDDD;
  padding: 20px 0 20px 4em;
}

footer span, a {
  padding-left: .5em;
  margin-bottom:0;
}