header{
  background-color: #333333;
  color:  #DDDDDD;
  display:inline-block;
  width: 100%;
}

header div{
  height:40px;   width: 100%;; float:left;
}

.img-repeater{

  background-image: url('/assets/img_strip.png') ;
}