<footer>
  <div class=footer_content>
  <span>&copy 2013 This is my copyright</span>
  <span>|</span>
  <a>Website Terms</a>
  <span>|</span>
  <a href='/'>Home</a>
  </div>
  <div class='footer-img-repeater'></div>
</footer>