<header>
  <h1>Pickling</h1>
  <div style="background-color: indianred"></div>
  <div style="background-color: greenyellow"></div>
  <div style="background-color: cadetblue"></div>
  <div style="background-color: coral"></div>
  <div style="background-color: sandybrown"></div>
  <div style="background-color: steelblue"></div>
  <div style="background-color: lawngreen"></div>
  <div style="background-color: orangered"></div>
  <div style="background-color: indianred"></div>
  <div style="background-color: greenyellow"></div>
  <div style="background-color: cadetblue"></div>
  <div style="background-color: coral"></div>
  <div style="background-color: sandybrown"></div>
  <div style="background-color: steelblue"></div>
  <div style="background-color: lawngreen"></div>
  <div style="background-color: orangered"></div>

</header>